In [3]:
import pandas as pd

pd.set_option('display.max_rows', 5)

print("Setup complete.")

Setup complete.

In [13]:

fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})

print(fruits)

   Apples  Bananas
0      30       21

In [27]:
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
print(fruits)

   Apples  Bananas
0      30       21

In [25]:
fruit_sales = pd.DataFrame({'Apples': [35, 41], 
              'Bananas': [21,34]},
             index=['2017 Sales', '2018 Sales'])
print(fruit_sales)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [30]:
fruit_sales = pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'],
                index=['2017 Sales', '2018 Sales'])
print(fruit_sales)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [21]:
ingredients = pd.Series(['4 cups','1 cup','2 large','1 can'], index=['Flour', 'Milk', 'Eggs','Spam'], name='Dinner')
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [23]:
#Note that the Series must be named "Dinner". Use the name keyword-arg when creating your series.
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')
print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [50]:
sales=pd.read_csv(r"C:\Users\ashid\Desktop\sales_data.csv")
sales.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.00000,113036.000000,113036.000000,113036.000000,113036.000000,113036.00000
mean,15.665753,2014.401739,35.919212,11.90166,267.296366,452.938427,285.051665,469.318695,754.37036
...,...,...,...,...,...,...,...,...,...
75%,23.000000,2016.000000,43.000000,20.00000,42.000000,70.000000,358.000000,432.000000,800.00000
max,31.000000,2016.000000,87.000000,32.00000,2171.000000,3578.000000,15096.000000,42978.000000,58074.00000

In [54]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

# Save to CSV
animals.to_csv('cows_and_goats.csv')
print(animals)

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [56]:
df = pd.read_csv('cows_and_goats.csv', index_col=0)
print(df)

        Cows  Goats
Year 1    12     22
Year 2    20     19